$def with (params)
<!DOCTYPE html>
<html lang='zh'>
    $:render.layout.header(params.error.title)
<body>
    $:render.layout.navbar()
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="span6">
					$:render.modules.error(params.error)
					$:render.misc.ads.ad()
				</div>
				<div class="span3">
					$:render.layout.three.primary(params.primary)
				</div>
				<div class="span3">
					$:render.layout.three.secondary(params.secondary)
				</div>
			</div>
		</div>
	</div>
	$:render.layout.footer()
</body>
</html>
