<div class="widget-links" >
    <h3 class="widget-header">Friend Links</h3>
    <div class="widget-content">
        <ul>
            <li><a href="http://www.ruanyifeng.com/home.html" target="_blank">阮一峰</a></li>
            <li><a href="http://coolshell.cn/" target="_blank">陈皓haoel</a></li>
            <li><a href="http://www.dbanotes.net/" target="_blank">冯大辉Fenng</a></li>
            <li><a href="http://robbin.iteye.com/" target="_blank">范凯robbin</a></li>
            <li><a href="http://www.eygle.com/" target="_blank">盖国强eygle</a></li>
            <li><a href="http://blog.csdn.net/tianlesoftware" target="_blank">David Dai</a></li>
            <li><a href="http://www.joelonsoftware.com/" target="_blank">Joel Spolsky</a></li>
            <li><a href="http://mindhacks.cn/" target="_blank">刘未鹏MindHacks</a></li>
            <li><a href="http://www.my1510.cn/author.php?roseluqiu" target="_blank">闾丘露薇</a></li>
            <li><a href="http://www.dapenti.com/blog/" target="_blank">铂程斋dapenti</a></li>
        </ul>
    </div>
</div>